<?xml version="1.0" encoding="utf-8"?>
<!-- 
    This Web.config file contains the bare essentials for a Markdown only website to work. 
    For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 
-->
<configuration>

    <appSettings>
        
        <!-- MarkdownVirtualPathFactory requires webPages to be enabled. -->
        <add key="webPages:Enabled" value="true"/>
        
        <!-- MarkdownVirtualPathFactory requires webPages version to be defined. -->
        <add key="webPages:Version" value="2.0"/>
    
    </appSettings>

</configuration>