<?xml version="1.0" encoding="utf-8"?>
<!-- 
    This Web.config file was originally created by Empty ASP.NET Web Application template. The template installed two
    settings are they have been commented with "Installed by Empty ASP.NET Web Application template". All other settings
    are to allow for Markdown pages to be served as HTML and have explanation comments.
    
    For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 
-->
<configuration>

    <appSettings>
        
        <!-- MarkdownVirtualPathFactory required webPages to be enabled. -->
        <add key="webPages:Enabled" value="true"/>
        
        <!-- MarkdownVirtualPathFactory required webPages version to be defined. -->
        <add key="webPages:Version" value="2.0"/>
    
    </appSettings>

    <system.web>

        <!-- Installed by Empty ASP.NET Web Application template -->
        <compilation debug="true" targetFramework="4.5" />

        <!-- Installed by Empty ASP.NET Web Application template -->
        <httpRuntime targetFramework="4.5" />

    </system.web>

    <system.webServer>

        <!-- 
            MarkdownVirtualPathFactory requires <defaultDocument />.
        
            See "Configuring a Default File" at http://msdn.microsoft.com/en-us/library/bb763179(v=vs.100).aspx for more details.
        -->
        <defaultDocument>
            <files>
                <add value="index.md" />
            </files>
        </defaultDocument>

    </system.webServer>

</configuration>