<!DOCTYPE html>
<html>
    <head>
        <title>Repository.EmptyAspNetWebApplication - Markdown pages served from a repository</title>
    </head>
    <body>
        @RenderBody()
        <footer>
            <hr />
            Repository.EmptyAspNetWebApplication - Markdown pages served from a repository.
        </footer>
    </body>
</html>