<?xml version="1.0" encoding="utf-8"?>
<!-- 
    This Web.config file contains the bare essentials for a Markdown only website to work. 
    For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 
-->
<configuration>

    <configSections>

        <sectionGroup name="common">
            <!--  
                Logging packages must be installed in this order.
      
                install-package Common.Logging.NLog20
                update-package Common.Logging
                update-package NLog
                (optional) install-package Anotar.CommonLogging.Fody
            -->
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>

        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

    </configSections>

    <appSettings>

        <!-- MarkdownVirtualPathFactory requires webPages to be enabled. -->
        <add key="webPages:Enabled" value="true" />

        <!-- MarkdownVirtualPathFactory requires webPages version to be defined. -->
        <add key="webPages:Version" value="2.0" />

    </appSettings>

    <common>
        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
                <arg key="configType" value="inline" />
            </factoryAdapter>
        </logging>
    </common>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

        <targets>
            <target xsi:type="Chainsaw" name="Chainsaw" address="udp://127.0.0.1:7071" />
        </targets>

        <rules>
            <logger name="*" minlevel="Trace" writeTo="Chainsaw" />
        </rules>

    </nlog>

    <runtime>

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
            </dependentAssembly>
        </assemblyBinding>

    </runtime>

</configuration>